@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {

    --color1: #00203FFF; 
    --color2: #ADEFD1FF;
    --color3: #ADEFD1FF;

    /*--color1: #101820FF; 
    --color2: #FEE715FF;
    --color3: #FEE715FF;*/

    /*--color1: #422057FF; 
    --color2: #FCF951FF;
    --color3: #FCF951FF;*/

    --bgimage1: url(../assets/sm-bg-image1.jpg);
    --bgimage2: url(../assets/sm-bg-image2.jpg);

    --bgimage: var(--bgimage1);

    --width-sidebar: 240px;
    --width-sidebar-deactivated: 78px;
}

body{
	position: relative;
	min-height: 100vh;
	width: 100%;
    background-image: var(--bgimage);
    background-color: var(--color1);

}

.intro-title{
    color: var(--color3);
    font-size: 2rem;

}

.intro-paragraph{
/*    font-size: 1rem;*/
/*    color: var(--color2);*/
    /*color: white;
    text-align: center;
    line-height: 1.5rem;
    white-space: 1px;
    text-transform: uppercase;*/
    font-size: 20px;
    font-weight: 600;
    color: white;

    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
