.projects-container{
	color: var(--color2);
	width: 80%;
	height: 500px;
	display: grid;
	grid-template: auto auto auto / repeat(6, 1fr);
	grid-gap: 20px;

}
.intro-title{
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
}
.intro-paragraph{
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-info{
	background: linear-gradient(135deg, var(--color1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	width: clamp(300px, 40vw, 450px);
	height: auto;
	position: absolute;
	top: 8%;
	left: 70%;
	z-index: 1;
	padding: 20px;
}
.project-info .project-links{
	margin-top: 15px;
	display: flex;
}
.project-info .link-btn{
	margin: 0 5px;
}
.project-info .link-btn a{
	color: var(--color3);
	font-size: 30px;
}
.proj-title{
	font-size: clamp(20px,100px, 24px);
	font-weight: 500;
}
.proj-category{
	color: white;
	font-weight: 800;
	margin: 10px 0;
}
.proj-desc{
	font-size: clamp(14px,100px,17px);
}
.proj-stack{
	margin-top: 10px;
	color: white;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.proj-stack li{
	margin: 3px 5px;
}

.project-img{
	grid-column: 1 / 5;
	grid-row: 3 / 4;
	position: relative;
	width: 100%;
	height: 420px;

}
.project-img .image-slider{
	width: 100%;
	height: 100%;
}
.project-img .image-slider .swiper-wrapper{
	height: 85%;

}
.project-img .swiper{
	position: static !important;
}

.project-img img{
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 12px;
}

.slider-btn{
	margin-top: 10px;
	height: 20%;
	display: flex;
	font-size: 30px;
	position: static;
}
.slider-btn div{
	background-color: var(--color1);
	height: 50%;
	padding: 0 10px;
	margin: 0 5px;
	margin-top: 5px;
	color: var(--color3);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all .3s ease;
}
.slider-btn div:hover{
	background-color: var(--color3);
	color: var(--color1);
}

@media (max-width:600px){
	.projects-container{
		height: auto;
	}
	.project-info{
		position: static;
		width: 100%;
	}
	.project-img{
		display: flex;
		flex-direction: column;
		height: auto;
		grid-column: 1 / -1;

	}
	.slider-btn{
		position: absolute;
		top: 100%;
		width: 100%;
		height: 10%;
	}
	.slider-btn div{
		width: 50%;
		height: 70%;
	}
}